DB_HOST=localhost
DB_PORT=5432
DB_NAME=ciso_plataforma
DB_USER=postgres
DB_PASSWORD=otica123
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# NextAuth
NEXTAUTH_SECRET="gere-um-segredo-aleatorio-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
